<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/user/reader_dashboard}">图书馆</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/book/reader_books}">图书查询</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/lend/myLend}">借阅记录</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/readerCard/info}">个人信息</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/readerCard/readerPwd}">密码修改</a>
                    </li>
                </ul>
                <form class="d-flex search-form" action="#">
                    <input class="form-control me-2" type="search" placeholder="搜索图书" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">查询</button>
                </form>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            登录人姓名
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" th:href="@{/user/}">退出</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>